

.jumbotron {
position: relative;
}

.container {
    background-color: white;
}

.btn-color {
background-color: red;
padding: 10px;
}

.btn-primary {
margin: 30px;
}

.divider{
    width:50px;
    height:auto;
    display:inline-block;
    
}
#myTextarea {
    margin: 20px;
    width: 500px;
}