
body {
  font-family: Arial;
  font-size: 25px;
}

/* * {
  box-sizing: border-box;
} */

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.container {
    float: left;
    background-color: rgb(236, 235, 235);
}
p {
    size: xx-large;
    
}
.weatherInfo{
border-color: black;
font-size: 15px;
line-height: 3.25;
width: 60%;
height: 325px;  
padding: 15px;
border: 1px solid black;
margin: 10px;
}
.cityAndDate{
    font-size: 30px;
    font: Bolder;
}
.fiveDay{
    font-size: 30px;
    font: Bolder;
    padding: 0px;
}