 {
  box-sizing: border-box;
}

h5 {

}



#name {
  position: absolute;
  width: 220px;
  left: 197px;
  padding: 20px;
  margin: 0;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: bold;
  color: white;
  font-size: 25px;
}
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  li {
    display: inline;
    font-size: 15px;
    color: black;
  }
  #links {
    position: absolute;
    top: 35px;
    right: 200px;
    
  }
  a {
    font-size: 20px;
    padding: 10px;
    color: #777777;
    text-decoration: none;
  }


body {
  width: 100%;
  height: 100%;
      font-size: 24px;
    line-height: 32px;
    color: #333;
    background-color:#dddddd;
  }




.wrapper {
  position: relative;
  top: 100px;
  width: 960px;
  height: 570px;
  padding: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  
}

h1 {
  Position: relative
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 45px;
  color:  #4aaaa5;
  Padding-bottom: 5px;
  
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #777777;
}

#relative {
  position: relative;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #eee;
}

#absolute {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  background: #4aaaa5;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  
}
label {
color: #777777;
font-size: 18px;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 80px;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


}

div.container {
  border-radius: 5px;
  background-color: 4aaaa5;
  padding: 20px;
  width: 400px;
  height: 500px;
}

textarea {
  width: 100%;
}

body {margin:25px;}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  
}
